@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");
/*============= SP =============*/
html,
body {
  -webkit-overflow-scrolling: touch;
  background: #fff none;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-family: "Open Sans Condensed", YuGothic, Yu Gothic, Hiragino Sans,
    Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
  color: #222;
  letter-spacing: 0.05em;
  line-height: 1.8;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::-moz-selection {
  background: rgba(0, 0, 0, 0.2);
}
*::selection {
  background: rgba(0, 0, 0, 0.2);
}
*::-moz-selection {
  background: rgba(0, 0, 0, 0.2);
}
/* ------ option ------ */
img {
  height: auto;
}
.oh-open {
  height: 100%;
  overflow: hidden;
}
/* ------ option ------ */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?p9i5bv");
  src: url("../fonts/icomoon.eot?p9i5bv#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?p9i5bv") format("truetype"),
    url("../fonts/icomoon.woff?p9i5bv") format("woff"),
    url("../fonts/icomoon.svg?p9i5bv#icomoon") format("svg");
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "icomoon" !important;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
  content: "\e904";
}
.icon-keyboard_arrow_left:before {
  content: "\e901";
}
.icon-keyboard_arrow_right:before {
  content: "\e902";
}
.icon-get-pocket:before {
  content: "\e900";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
/* ------ option ------ */
button,
input:not([type="checkbox"]):not([type="radio"]),
textarea {
  border: 1px solid #888;
  border-radius: 5px !important;
}
/* ------ option ------ */
.site.js-load {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.site.js-load--on {
  opacity: 1;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 130%;
  background-color: #000;
  opacity: 0.5;
}
/*============= #header =============*/
.site-header {
  position: relative;
  width: 100%;
}
.header-in {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 65px 0 65px 25px;
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.single-post .site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
}
.single-post .site-header.fixed .header-in {
  padding: 5px 0 5px 10px;
}
.home .site-header {
  background-color: #f4f4f4;
}
/* ------ option ------ */
.site-branding {
  width: 30%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.site-branding .custom-logo-link > img {
  display: block;
  width: auto;
}
.site-title {
  font-size: 20px;
  line-height: 0.8;
}
/* ------ option ------ */
.main-navigation {
  font-weight: bold;
  font-size: 0.9em;
}
/*============= #ham =============*/
.ham__menu {
  z-index: 10003;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.ham__menu-item {
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #333;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.ham__menu-item:nth-of-type(2) {
  margin: 7px 0;
}
/* ------ option ------ */
.btn-open .ham__menu-item:nth-of-type(1) {
  top: 8px;
  width: 25px;
  background-color: #fff;
  -webkit-transform: rotate(137deg);
  transform: rotate(137deg);
}
.btn-open .ham__menu-item:nth-of-type(2) {
  left: -100%;
  opacity: 0;
}
.btn-open .ham__menu-item:nth-of-type(3) {
  top: -10px;
  width: 25px;
  background-color: #fff;
  opacity: 1;
  -webkit-transform: rotate(-137deg);
  transform: rotate(-137deg);
}
/*------------ hnav-list ------------*/
.main-navigation .menu-item a {
  font-size: 15px;
}
/*============= #sub-menu =============*/
.header-btm {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10001;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 130px 20px 30px;
  margin-top: 0;
  background-color: rgb(160 160 160 / 0.6);
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  pointer-events: none;
}
.header-btm.is-active {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  pointer-events: auto;
}
.header-btm .main-navigation .menu-item a {
  font-size: 4rem;
  line-height: 1.3;
}
.header-btm .sub-menu {
  width: 100%;
  padding-left: 15px;
}
.header-btm .main-navigation .hnav-sub .menu-item a,
.header-btm .main-navigation .sub-menu .menu-item a {
  font-weight: normal;
  font-size: 2.5rem;
}
.header-btm .hnav-sub {
  position: relative;
  margin: 4.5em 0 0;
}
.header-btm .hnav-sub::before {
  position: absolute;
  top: -1em;
  left: 0;
  width: 15%;
  height: 2px;
  margin: auto;
  background-color: #fff;
  content: "";
}
/* ------ option ------ */
.main-navigation .icon-search,
.search__close {
  display: none;
}
/*============= #main =============*/
#main {
  display: block;
  overflow: hidden;
}
/* ------ option ------ */
.entry-thumbs {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 45vh;
  background-color: #ccc;
  box-shadow: 0 20px #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.g__slide,
.slick-list,
.slick-track {
  height: 100%;
}
.slick-slide img,
.entry-thumb__img {
  width: 100%;
  height: 100%;

  -o-object-fit: cover;
  object-fit: cover;
}
/* ------ option ------ */
.entry-thumbs .slick-dots {
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.entry-thumbs .slick-dots > li {
  margin: 0 0.2rem;
  font-size: 0.5rem;
  color: #fff;
  line-height: 1;
}
.entry-thumbs .slick-dots > li.slick-active {
  color: #222;
}
/* ------ option ------ */
.slider-nav-container .slick-slide {
  margin: 0 5px;
}
.slider-nav-container .slick-slide img {
  filter: grayscale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.slider-nav-container .slick-track {
  margin-left: -5px;
}
.slider-nav-container .slick-slide.slick-active img {
  filter: grayscale(0);
}
/* ------ option ------ */
.header_fix .entry-thumbs {
  height: 27vh;
}
.header_fix .single-area .entry-page {
  margin: 39vh 0 0;
}
/*============= #hero-block =============*/
.ad_block {
  display: block;
  margin: 50px auto 30px;
}
.entry-content .ad_block {
  max-width: 336px;
}
/*============= #content =============*/
.site-content {
  position: relative;
  z-index: 3;
  margin-bottom: 140px;
  background-color: #fff;
}
.single-area .entry-page {
  position: relative;
  padding: 0 30px;
  margin: 50vh 0 0;
  max-width: 760px;
}
.archive .entry-page {
  padding: 0 20px 50px;
}
.archive .entry-list {
  margin-bottom: 80px;
}
.archive .entry-header {
  margin-bottom: 0;
}
/*============= #toppage =============*/
.toppage-cat-area {
  padding: 0 20px 20px;
}
.toppage-cat-area .entry-list {
  display: flex;
  overflow-x: scroll;
  gap: 0;
}
.toppage-cat-area .entry-list .entry-item {
  min-width: 190px;
}
.toppage-cat-area .entry-list .entry-item:not(:last-child) {
  margin-right: 15px;
}
/* ------ option ------ */
.searchform {
  position: relative;
  margin-bottom: 20px;
}
.searcharea {
  position: relative;
  display: block;
  width: 50%;
}
.searcharea::before {
  content: "\e904";
  font-family: "icomoon";
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  height: 1em;
  bottom: 0;
  margin: auto;
}
input:not([type="checkbox"]):not([type="radio"]).searchtxt {
  border: none;
  display: block;
  font-size: 17px;
  padding: 0.3em 0.5em;
  border-radius: 0 !important;
  border-bottom: 1px solid #fff;
  color: #fff;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/*============= #pagination =============*/
.pagination {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  justify-content: flex-end;
  margin: 50px 0;
}
.pagination-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.pagination-list__item {
  margin: 0 8px;
}
.pagination__link {
  position: relative;
  display: inline-block;
  padding: 5px 5px 8px;
  font-size: 20px;
  line-height: 1;
}
.pagination-list__item .pagination__link::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  content: "";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pagination-list__item.pagination-list__item--active .pagination__link {
  color: #222;
}
.pagination-list__item.pagination-list__item--active .pagination__link::after {
  width: 100%;
}
.pagination-btn {
  padding: 15px;
  font-size: 2em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/*============= #linkbtn =============*/
.linkbtn-wrp {
  margin: 20px 0;
  text-align: right;
}
.linkbtn {
  display: inline-block;
  padding: 0.5em;
  min-width: 150px;
  border: 2px solid #222;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
}
/* ------ option ------ */
.wp-block-button__link {
  border-radius: 5px !important;
  font-weight: bold !important;
  font-size: 1em !important;
}
/*============= #entry-page =============*/
.entry-page {
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
  max-width: 1800px;
}
.entry-header {
  margin-bottom: 30px;
  font-size: 0.88em;
  word-break: break-all;
  line-height: 1.3333;
}
.entry-header > time {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  color: #444;
}
.entry-header > h1 {
  font-weight: bold;
  font-size: 1.2rem;
}
.entry-header > p {
  margin-top: 1em;
}
/* ------ option ------ */
.entry-content {
  position: relative;
  padding: 0 0 50px;
  font-size: 0.85em;
  font-family: YuGothic, Yu Gothic, Hiragino Sans, Hiragino Kaku Gothic ProN,
    Meiryo, sans-serif;
}
.entry-content > p {
  margin: 2.5rem 0;
  font-size: 0.9rem;
  word-break: break-all;
  letter-spacing: 0.04rem;
  line-height: 1.833;
}
.entry-content > p > strong {
  font-weight: bold;
}
/* ------ option ------ */
.memo-block {
  border: 1px solid #dbdbdb;
  padding: 1em 1.5em;
}
/* ------ option ------ */
.wp-block-mnzkblk-txtbox2-block {
  background: #f4f4f4;
  padding: 0.5em 1em;
}
.innerttl,
.innertxt {
  font-size: 0.9em;
}
.innerttl {
  font-weight: bold;
  padding: 0.5em 0 0.7em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5em;
}
.innertxt {
  font-size: 0.9em;
  padding: 0.5em 0;
}
/* ------ option ------ */
.wp-block-embed-wordpress {
  text-align: center;
}
.entry-content iframe.wp-embedded-content {
  display: block;
  width: 90%;
  margin: 0 auto;
  max-width: 100% !important;
  text-align: center;
}
/* ------ option ------ */
.entry-content > p > img {
  display: block;
  height: auto;
}
.wp-block-image {
  margin-bottom: 2em !important;
}
.wp-block-image > img {
  margin-bottom: 0;
}
.entry-content figcaption {
  padding: 0 10px;
  font-size: 0.8em;
  color: #444;
}
.entry-content
  figure:not(.wp-block-embed):not(.wp-block-table):not(.tiled-gallery__item),
.wp-caption,
.wp-block-image,
.entry-content figure.wp-block-embed-youtube {
  width: calc(100% + 20px);
  margin-right: -10px;
  margin-left: -10px;
  max-width: calc(100% + 20px);
}
/* ------ youtube ------ */
.wp-block-embed-youtube .wp-block-embed__wrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.wp-block-embed-youtube .wp-block-embed__wrapper > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ------ option ------ */
.entry-content > h2,
.entry-content > h3,
.entry-content > h3,
.entry-content > h4,
.entry-content > h5,
.entry-content > h6 {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight: bold;
  line-height: 1.4;
}
.entry-content > h2 {
  padding-left: 1em;
}
.entry-content > h2::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #222;
  position: absolute;
  top: 0;
  left: 0;
}
.entry-content > h3 {
  padding: 0.6em 0.5em;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  font-size: 1.2em;
}
.entry-content > h4 {
  padding-left: 1em;
  font-size: 1.2em;
}
.entry-content > h4::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #222;
  content: "";
}
.entry-content > h5,
.entry-content > h6 {
  font-size: 1.15em;
  text-decoration: underline;
}
/* ------ option ------ */
.entry-content pre {
  width: 100%;
  padding: 20px;
  margin: 2em auto;
  background-color: #444;
  color: #fff;
}
.wp-block-table {
  width: 100%;
  margin: 2em auto;
}
.wp-block-table thead {
}
/* ------ option ------ */
.entry-content p a:not([class]),
.tag-cloud-link {
  color: #ccc;
  text-decoration: underline;
}
.entry-content > ul,
.entry-content > ol {
  width: 100%;
  padding: 0 1.5em;
  margin: 2em auto;
}
.entry-content > ul li ul,
.entry-content > ol li ol {
  padding-left: 1.5em;
}
.entry-content ul:not(.entry-header-list) li {
  list-style: inside "- ";
}
.entry-content ol li {
  list-style: decimal;
}
/* ------ option ------ */
.entry-content > .wp-block-quote,
.entry-content > blockquote {
  position: relative;
  width: 100%;
  padding: 35px 20px 15px;
  margin: 2em auto;
  background-color: #f4f4f4f4;
  font-size: 0.9em;
}
.entry-content > .wp-block-quote::before,
.entry-content > blockquote::before {
  position: absolute;
  top: -8px;
  left: 16px;
  height: 1em;
  font-size: 1.4em;
  font-family: "icomoon";
  color: #444;
  content: "\e977";
  line-height: 1;
}
.entry-content > .wp-block-quote cite,
.entry-content > blockquote cite {
  display: block;
  margin-top: 10px;
  font-size: 0.85em;
  color: #444;
}
/* ------ option ------ */
.entry-content table {
  width: 100%;
  margin-bottom: 40px;
}
.entry-content table tbody tr:nth-child(2n + 1) {
  background-color: #f4f4f4;
}
.wp-block-table thead th,
.entry-content table td {
  padding: 7px 10px;
}
.wp-block-table thead th {
  background-color: #222;
  color: #fff;
}
.wp-block-table thead th:not(:last-child),
.entry-content table td:not(:last-child) {
  border-right: 1px solid #eee;
}
/* ------ option ------ */
.taglist {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.taglist > li {
  margin-right: 10px;
  margin-bottom: 10px;
}
.taglist a {
  position: relative;
  display: inline-block;
  padding: 6px 10px 6px 25px;
  border: 1px solid #dcd7d0;
  border-radius: 5px;
  font-size: 0.7rem;
  letter-spacing: 0;
  line-height: 1;
}
.taglist a::before {
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  display: inline-block;
  height: 1em;
  margin: auto 0;
  font-family: "icomoon";
  content: "\e935";
  line-height: 1;
}
/* ------ option ------ */
.post-password-form {
  padding: 20px;
  text-align: center;
}
.post-password-form p {
  margin-bottom: 30px;
}
.post-password-form input:not([type="checkbox"]):not([type="radio"]) {
  height: 35px;
  padding: 5px 9px;
  border: 1px solid #888;
}
.post-password-form input[type="submit"] {
  background-color: #333;
  font-size: 13px;
  color: #fff;
  vertical-align: top;
}
/*============= #pager =============*/
.pager-list {
  display: block;
  margin-bottom: 20px;
}
[class^="pager-item--"] {
  position: relative;
  width: 100%;
}
[class^="pager-item--"] .pager-item__link {
  position: relative;
  padding: 15px 20px;
}
.pager-item--prev .pager-item__link::before,
.pager-item--next .pager-item__link::after {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 1em;
  margin: auto;
  font-family: "icomoon" !important;
  content: "\e901";
  line-height: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.pager-item--prev .pager-item__link::before {
  left: 0;
}
.pager-item--next .pager-item__link::after {
  right: 0;
  content: "\e902";
}
.pager-item--prev::after {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: "";
}
.pager-item__link {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.pager-item__link > p {
  font-size: 0.8em;
}
.pager-item--next .pager-item__link {
  -webkit-box-pack: end;
  justify-content: flex-end;
}
/*============= #contents-area =============*/
.entry-list {
  display: -ms-grid;
  display: grid;

  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
/* ------ option ------ */
.entry-item__link {
  position: relative;
  display: block;
}
.entry-item__bg {
  position: relative;
  width: 100%;
  height: 337.778px;
  overflow: hidden;
}
.entry-item__bg > img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  -o-object-fit: cover;
  object-fit: cover;
}
.entry-item-btm {
  display: block;
  padding: 8px 0 10px;
}
.entry-item-btm-meta {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-bottom: 0.8em;
  font-size: 0.7em;
  line-height: 1;
}
.entry-item__day {
  margin-right: 15px;
}
.entry-item__ttl {
  font-weight: bold;
  line-height: 1.533;
}
/*============= #blogger_ttl =============*/
.blogger_ttl {
  position: relative;
  display: block;
  display: table;
  padding: 30px 0;
  font-weight: bold;
  font-size: 2.4rem;
  text-align: left;
  text-align: center;
  white-space: nowrap;
  line-height: 1;
}
.blogger_ttl::after,
.blogger_ttl::before {
  display: table-cell;
  width: 50%;
  background: -webkit-linear-gradient(
    transparent 50%,
    currentColor 50%,
    currentColor -webkit-calc(50% + 4px),
    transparent -webkit-calc(50% + 4px)
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(50%, currentColor),
    color-stop(currentColor calc(50% + 4px)),
    to(transparent calc(50% + 4px))
  );
  background: linear-gradient(
    transparent 50%,
    currentColor 50%,
    currentColor calc(50% + 4px),
    transparent calc(50% + 4px)
  );
  -webkit-background-clip: padding;
  background-clip: padding;
  content: "";
}
.blogger_ttl::after {
  width: 90%;
  border-left: 0.3em solid transparent;
}
.blogger_ttl::before {
  width: 10%;
  border-right: 0.3em solid transparent;
}

/*============= #entry-footer =============*/
.entry-header-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-bottom: 5px;
  font-size: 0.7em;
}
.entry-header-list > li:not(:last-child)::after {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  content: " | ";
}
/*============= #comments =============*/
.comments-area {
  margin-bottom: 50px;
}
.comments-notes {
  font-size: 0.8em;
  line-height: 1.4;
}
.comment-reply-title {
  margin-bottom: 15px;
  font-size: 17px;
  text-align: center;
}
.logged-in-as {
  font-size: 0.7em;
  text-align: center;
}
.logged-in-as a {
  text-decoration: underline;
}
.comment-form > p {
  margin-top: 1em;
}
.comment-form-comment {
  text-align: center;
}
.comment-form-comment > label {
  display: none;
}
.comment-form-comment textarea {
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  resize: vertical;
}
.comments-form-author,
.comments-form-email {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.comments-form-author > label,
.comments-form-email > label {
  width: 30%;
  font-size: 0.8em;
  letter-spacing: 0;
}
.comments-form-email input:not([type="checkbox"]):not([type="radio"]),
.comments-form-author input:not([type="checkbox"]):not([type="radio"]) {
  width: 70%;
  padding: 5px;
  line-height: 1.4;
}
.form-submit .submit {
  display: block;
  width: 180px;
  height: 40px;
  margin-left: auto;
  font-size: 13px;
  line-height: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* ------ option ------ */
#cancel-comment-reply-link {
  position: relative;
  top: -2px;
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #444;
  border-radius: 10px;
  font-size: 11px;
  line-height: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* ------ option ------ */
#respond {
  margin-top: 40px;
}
.comments-meta {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.comments-meta .avatar {
  padding: 5px;
  border: 1px solid #444;
  border-radius: 50%;
}
.comments-meta-list {
  padding: 0 10px 20px;
}
.comments-content {
  padding: 10px 20px;
  background-color: #eeef;
  font-size: 0.85em;
  line-height: 1.5333;
}
.comments-date {
  font-size: 12px;
  color: #444;
}
.comments-reply {
  margin-top: 10px;
  text-align: right;
}
.comment-reply-link {
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #444;
  font-size: 0.85em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* ------ option ------ */
.comment .children {
  padding-left: 60px;
}
/*============= #breadcrumb =============*/
.breadcrumb {
  width: 100%;
  margin: 0 auto 20px;
}
.breadcrumb-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1120px;
}
.breadcrumb-item {
  font-size: 12px;
}
.breadcrumb-item a {
  display: inline-block;
}
.breadcrumb-item:not(:last-child)::after {
  display: inline-block;
  margin: 0 5px;
  content: " - ";
  text-decoration: none;
}
/*============= #rinker =============*/
.yyi-rinker-contents {
  width: 100%;
  box-shadow: none !important;
}
div.yyi-rinker-contents div.yyi-rinker-box {
  display: block !important;
}
div.yyi-rinker-contents div.yyi-rinker-image {
  margin: 0 auto;
}
div.yyi-rinker-contents div.yyi-rinker-info {
  width: 100% !important;
}
/* ------ option ------ */
.yyi-rinker-tracking {
  display: inline-block;
}
.entry-content img.yyi-rinker-main-img {
  margin: 0;
}
.yyi-rinker-info {
  padding: 10px 0 0;
}
.yyi-rinker-title .yyi-rinker-tracking {
  padding: 0 10px 0;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.3333;
}
.yyi-rinker-detail {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding-left: 0 !important;
  padding: 0 10px 10px;
  font-size: 0.85em;
  color: #444;
  line-height: 1.4;
}
.yyi-rinker-links {
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 0.8em;
  margin: 0 !important;
  flex-direction: row !important;
}
.entry-content .yyi-rinker-links > li {
  width: 32.1%;
  box-shadow: none !important;
  margin: 0 !important;
}
.yyi-rinker-links > li > a {
  text-align: center;
  padding: 0px !important;
}
.yyi-rinker-link {
  color: #fff;
}
.yyi-rinker-links .amazonlink > a {
  background-color: #f90;
}
.yyi-rinker-links .rakutenlink > a {
  background-color: #bf0000;
}
.yyi-rinker-links .yahoolink > a {
  background-color: #410093;
  font-size: 0.8em !important;
  letter-spacing: -0.03em;
}

/*============= #sharebtn =============*/
.sharebtn {
  margin: 30px 0 50px;
}
.sharebtn-list {
  display: -ms-grid;
  display: grid;

  gap: 10px;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
}
.sharebtn-list > li > a {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  border: 2px solid #dbdbdb;
  border-radius: 2px;
  font-size: 15px;
  color: #dbdbdb;
}
.sharebtn-item--htn {
  font-weight: bold;
}
/*============= #go_top =============*/
.go_top {
  position: relative;
  width: 100%;
  text-align: center;
}
.go_top > a {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 40px 9px;
}
.go_top > a > span {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
}
.go_top > a > span::before {
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  height: 100%;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  content: "";
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.go_top > a > span::after {
  position: absolute;
  bottom: 0;
  left: -4px;
  display: block;
  width: 20px;
  height: 1px;
  background-color: #888;
  content: "";
}
/*------------------------------------------------
footer
------------------------------------------------*/
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;
  padding: 0 0 15px;
  background-color: #222;
  color: #fff;
}
/* ------ option ------ */
.footer-prof-sns {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 1em 0;
}
[class^="footer-prof-sns-item--"] {
  font-size: 1.5em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
[class^="footer-prof-sns-item--"]:not(:last-child) {
  margin-right: 20px;
}
.site-info {
  font-size: 0.8em;
  text-align: center;
}
/*============= #form =============*/
.wpcf7-form {
  width: 100%;
  margin: 0 auto;
}
.wpcf7-form-control-wrap {
  display: block;
  width: 100%;
  margin-top: 15px;
}
.wpcf7-form p {
  padding: 17px 0 15px 0;
  font-weight: bold;
}
.wpcf7-form input:not([type="checkbox"]):not([type="radio"]),
.wpcf7-form textarea {
  width: 100%;
  padding: 10px 10px;
  background-color: #eee;
  font-weight: normal;
}
.wpcf7-radio .wpcf7-list-item {
  width: 50%;
  margin: 0 0 1em;
}
input:not([type="checkbox"]):not([type="radio"]).wpcf7-submit {
  display: block;
  width: 200px;
  height: 45px;
  margin: 0 auto;
  background-color: #222;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.wpcf7-not-valid-tip {
  padding: 10px 0;
  font-size: 0.8em;
}
@media screen and (min-width: 560px) {
  /* ------ 560px~ ------ */
}
@media screen and (min-width: 960px) {
  /* ------ 960px~ ------ */
  /*============= #general =============*/
  html,
  body {
    font-size: 16px;
  }
  .tel_link {
    pointer-events: none;
  }
  a {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  a:hover {
    color: #ccc;
  }
  /*============= #header =============*/
  .header-in {
    padding: 115px 0 115px 25px;
  }
  .site-branding {
    width: 25%;
    max-width: 400px;
  }
  /* ------ option ------ */
  .site-branding {
  }
  .logosize__sm {
    width: 15%;
  }
  .logosize__big {
    width: 40%;
  }

  /* ------ option ------ */
  .single-post .site-header.fixed .header-in {
    padding: 15px 0 15px 10px;
  }
  .custom-logo-link {
    display: block;
  }
  .custom-logo-link:hover {
    opacity: 0.6;
  }
  /* ------ option ------ */
  .header-btm {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    overflow: hidden;
    padding: 0 20px;
    margin-left: auto;
    background: none;
    color: #222;
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
  .header-btm .main-navigation .menu-item a {
    position: relative;
    z-index: 1;
    padding: 0 0.5rem;
    font-size: 1.3rem;
  }
  .header-btm .main-navigation .menu-item::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: #222;
    content: "";
    transition: transform 0.3s;
    transform: scale(0, 1);
    transform-origin: center center;
  }

  /* ------ option ------ */
  .main-navigation .menu-item.current-post-ancestor a,
  .main-navigation .menu-item.current-menu-item a,
  .main-navigation .menu-item:hover a {
    color: #fff;
  }
  .main-navigation .menu-item {
    position: relative;
  }
  .main-navigation .menu-item.current-post-ancestor::before,
  .main-navigation .menu-item.current-menu-item::before,
  .main-navigation .menu-item:hover::before {
    transform: scale(1, 1);
  }
  /* ------ option ------ */
  .ham__menu,
  .header-btm .sub-menu {
    display: none;
  }
  /* ------ option ------ */
  .header-btm .main-navigation {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  /* ------ option ------ */
  .header-btm .hnav,
  .header-btm .hnav-sub {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .header-btm .hnav-sub {
    margin: 0 0 0 1em;
  }
  .header-btm .hnav-sub::before {
    top: 0;
    bottom: 0;
    left: -0.5em;
    width: 1px;
    height: 60%;
    background-color: #444;
  }
  .header-btm .main-navigation .hnav-sub .menu-item a,
  .header-btm .main-navigation .sub-menu .menu-item a {
    font-weight: bold;
    font-size: 1.3rem;
  }
  /* ------ option ------ */
  .search__btn .icon-search:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .main-navigation .icon-search {
    display: block;
    font-weight: bold;
    font-size: 17px;
    margin-left: 0.5em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header-searchbox {
    position: fixed;
    margin-bottom: 0;
    right: 0;
    top: 0;
    background-color: #222;
    z-index: 2;
    width: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .header-searchbox.is-active {
    width: 350px;
  }
  .searchform {
    margin-bottom: 0;
    width: 80%;
    -webkit-transition: all 0.5s 0.2s;
    transition: all 0.5s 0.2s;
    opacity: 0;
  }
  input:not([type="checkbox"]):not([type="radio"]).searchtxt {
    width: 80%;
    font-size: 15px;
  }
  .header-searchbox.is-active .searchform {
    opacity: 1;
  }
  .searcharea::before {
    color: #fff;
    right: auto;
    left: -1.6em;
  }
  .searcharea {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .search__close {
    display: block;
    color: #fff;
    width: 20%;
    text-align: right;
    line-height: 1;
    height: 1em;
    font-size: 1.5em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .search__close:hover {
    color: #ccc;
    font-size: 2.2em;
    cursor: pointer;
  }

  /*=====================================
  home
  =====================================*/
  .home-area {
    padding: 100px 0;
  }
  .toppage-cat-area .entry-list {
    display: grid;
    overflow: auto;

    gap: 30px;
  }
  .toppage-cat-area .entry-list .entry-item:not(:last-child) {
    margin-right: 0;
  }
  /*============= #linkbtn =============*/
  .linkbtn-wrp {
    margin: 40px 0;
  }
  .linkbtn {
    padding: 0.4em;
    min-width: 120px;
    font-size: 0.8em;
  }
  /*=====================================
  site-content
  =====================================*/
  .site-content {
    margin-bottom: 160px;
  }
  /*============= #entry-list =============*/
  .entry-list {
    -ms-grid-columns: (minmax(250px, 1fr)) [6];
    grid-template-columns: repeat(6, minmax(250px, 1fr));
    gap: 30px;
  }
  .entry-item__bg {
    height: 444.444px;
  }
  /*============= #blogger_ttl =============*/
  .blogger_ttl {
    padding: 3rem 0;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    line-height: 1;
  }

  /*============= #entry-page =============*/
  .single-area #main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: visible;
  }
  .entry-thumbs {
    position: sticky;
    width: 60%;
    height: 100vh;
    box-shadow: none;
  }
  .header_fix .entry-thumbs {
    height: 100vh;
  }
  /* ------ option ------ */
  .slider-nav-container .slick-slide {
    overflow: hidden;
  }
  .slider-nav-container .slick-slide:hover {
    cursor: pointer;
  }
  .slider-nav-container .slick-slide:hover img {
    filter: grayscale(0);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  /* ------ option ------ */
  .g__slide,
  .slick-list {
    height: 100%;
  }
  /* ------ option ------ */
  .single-area .entry-page {
    width: 40%;
    margin: 230px 0 0;
  }
  .header_fix .single-area .entry-page {
    margin: 230px 0 0;
  }
  .entry-page {
    padding-top: 0;
    margin: 0 auto 100px;
  }
  .entry-header > h1 {
    font-size: 3em;
  }
  /* ------ option ------ */
  .page-area {
    width: 60%;
    padding-right: 10%;
    margin-left: auto;
    max-width: 800px;
  }

  /* ------ entry-footer ------ */
  .entry-page > .hentry {
    padding: 50px 0 70px;
  }
  .entry-page > .hentry .entry-header {
    width: 100%;
  }
  /* ------ option ------ */
  .entry-header-list {
    font-size: 0.8em;
  }
  /* ------ option ------ */
  .entry-content {
    font-size: 1rem;
  }
  .entry-content > p {
    font-size: 1rem;
  }
  .entry-content > h2 {
    font-size: 1.4em;
  }
  .entry-content > h3 {
    padding: 0.6em 0.5em;
    font-size: 1.3em;
  }
  .entry-content > h4 {
    font-size: 1.2em;
  }
  .entry-content
    figure:not(.wp-block-embed):not(.wp-block-table):not(.tiled-gallery__item),
  .wp-caption,
  .wp-block-image {
    width: 100% !important;
    margin-right: 0;
    margin-left: 0;
    max-width: 100% !important;
  }

  .entry-content > p > img {
    width: calc(100% + 20px);
    margin-right: -10px;
    margin-left: -10px;
    max-width: calc(100% + 20px);
  }
  .comments-area {
    width: 60%;
    margin: 0 auto;
  }

  /*============= #toppage =============*/
  .toppage-cat-wrp {
    padding: 0 50px;
    margin: 0 auto;
    max-width: 1800px;
  }

  /*============= #search =============*/
  .search-submit {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .search-submit:hover {
    background-color: #888 !important;
    color: #fff;
    cursor: pointer;
  }

  /*============= #pagination =============*/
  .pagination-list__item .pagination__link:hover::after {
    width: 100%;
  }

  /*============= #linkbtn =============*/
  .linkbtn:hover {
    background-color: #222;
    color: #fff;
  }

  /*============= #entry-content =============*/
  .entry-content a:not([class]):hover {
    text-decoration: none;
  }
  .wp-block-button__link {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .wp-block-button__link:hover {
    opacity: 0.6;
  }
  /*============= #pager =============*/
  [class^="pager-item--"] .pager-item__link:hover {
    background-color: #f4f4f4;
  }
  .pager-item--prev .pager-item__link:hover::before {
    left: -3px;
  }
  .pager-item--next .pager-item__link:hover::after {
    right: -3px;
  }

  /*============= #entry-item =============*/
  .entry-item__link:hover .entry-item__bg > img {
    filter: grayscale(0);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  /*============= #form =============*/
  .form-submit .submit:hover,
  .comment-reply-link:hover,
  #cancel-comment-reply-link:hover {
    background-color: #2d4059;
    color: #fff;
    cursor: pointer;
  }

  input:not([type="checkbox"]):not([type="radio"]).wpcf7-submit:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  /*============= #rinker =============*/
  div.yyi-rinker-contents div.yyi-rinker-box {
    display: flex !important;
  }
  div.yyi-rinker-contents div.yyi-rinker-info {
    width: calc(100% - 175px) !important;
    padding: 0 0 0 10px;
  }
  .yyi-rinker-links,
  .yyi-rinker-title .yyi-rinker-tracking {
    padding: 0;
  }
  .yyi-rinker-links .amazonlink > a {
    border: 1px solid #f90;
  }
  .yyi-rinker-links .rakutenlink > a {
    border: 1px solid #bf0000;
  }
  .yyi-rinker-links .yahoolink > a {
    border: 1px solid #410093;
  }
  .yyi-rinker-links > li > a:hover {
    background-color: #fff;
  }
  .yyi-rinker-links .amazonlink > a:hover {
    color: #f90;
  }
  .yyi-rinker-links .rakutenlink > a:hover {
    color: #bf0000;
  }
  .yyi-rinker-links .yahoolink > a:hover {
    color: #410093;
  }
  /*============= #sharebtn =============*/
  .sharebtn-list > li > a:hover {
    background-color: #222;
    color: #fff;
    border-color: #222;
  }
  /*============= #go_top =============*/
  .go_top > a {
    display: inline-block;
    width: auto;
    height: auto;
  }
  .go_top > a > span::before,
  .go_top > a > span::after {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .go_top > a:hover > span::before {
    top: -5px;
  }
  .go_top > a:hover > span::after {
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
  }
  /*============= #footer =============*/
  #footer {
    height: 160px;
  }
  .footer-in {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
}
